* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --preto: #181818;
  --branco: #F9F9F9;
  --gray: #EBE9EA;;
  --sei: #474747;
}

body {
  width: 100%;
  font-family: 'Montserrat';
}

header div, footer {
  width: 100%;
  text-align: center;
}

.desconto, footer {
  width: 100%;
  height: 3.125rem;
  background-color: var(--preto);
  color: var(--branco);
}

.desconto p, footer {
  padding-top: .9375rem;
}

.logo {
  width: 100%;
  height: 3.125rem;
  background-color: var(--branco);
  color: var(--preto);
}

.logo p {
  padding-top: .9375rem;
}

.show_details {
  height: 23.625rem;
  width: 100%;
  background-image: url(/images/fundo.jpeg);
  background-position: 0em;
  min-height: 31.25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.show_details h1 {
  color: var(--branco);
  text-align: initial;
  padding-top: 8rem;
  padding-left: 6.25rem;
}

.show_details p  {
  color: var(--branco);
  text-align: initial;
  font-weight: 600;
  padding-left: 6.25rem;
  padding-top: 1.25rem;
}

.show_tenis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main h2 {
  width: 100%;
  text-align: center;
  padding-top: 3.5rem;
  font-size: 1.875rem;
}

main p {
  width: 100%;
  text-align: center;
  padding-top: .625rem;
  color: var(--sei);
}

article {
  margin-top: 1.875rem;
  margin-right: .625rem;
}

article img {
  width: 15.625rem;
  height: 9.375rem;
  background-color: var(--gray);
}

footer {
  margin-top: 3.125rem;
}